{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <a href="pc"><div>PC    : Search By Price</div></a> <br>
    <a href="laptop"><div>Laptop: Search By Performance</div></a><br>
    <a href="product"><div>Product: Search By Manufacture </div></a><br>
    <a href="multi"><div>PC + Printer: Search By Budget</div></a><br>
    <a href="newPc"><div>new PC : Search By Detail Information</div></a><br>
</div>
{% endblock %}
